<html>

<body>
    Welcome <%=name%>
        <ol>

            <% courses.forEach((data)=>{%>
                <li>
                    <%=data%>
                </li>
                <% }); %>
        </ol>
</body>
</html>